{% extends "base.html" %}

{% block title %}Resultados{% endblock %}

{% block content %}
<div class="results-container">
    <h2>Resultados de la consulta:</h2>
    <table class="pure-table">
        <thead>
            <tr>
                <th>EMPNO</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>DEPTNO</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro[0] }}</td>
                <td>{{ registro[1] }}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
                <td>{{ registro[6] }}</td>
                <td>{{ registro[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Volver al inicio</a>
</div>
{% endblock %}
